<section class="flex bg-blue-500 text-white p-2 justify-between items-center">
  <!-- Logo -->
  <h1>DCX-App Store</h1>

  <!-- Search Bar -->
  <div class="flex items-center space-x-2">
    <input
      type="text"
      [(ngModel)]="searchQuery"
      (ngModelChange)="searchProducts()"
      placeholder="Search products..."
      class="p-1 text-black border rounded"
    />
  </div>

  <!-- Navigation Links -->
  <div>
    <ul class="flex justify-between min-w-96 font-mono items-center">
      <li class="cursor-pointer hover:border-b">
        <a routerLink="/" routerLinkActive="active">Home</a>
      </li>
      <li class="cursor-pointer hover:border-b">
        <a routerLink="/products" routerLinkActive="active">Products</a>
      </li>
      <li class="cursor-pointer hover:border-b">
        <a routerLink="/my-info" routerLinkActive="active">My Account</a>
      </li>
      <li class="cursor-pointer hover:border-b relative">
        <a (click)="toggleCart()">
          <i class="fa-solid fa-cart-shopping"></i>
          <!--  Display cart count when items are present -->
          <span
            *ngIf="cartItemCount > 0"
            class="absolute -top-2 -right-2 bg-red-500 text-white text-xs rounded-full px-2"
          >
            {{ cartItemCount }}
          </span>
        </a>
      </li>

      <!-- Show Logout Button Only When User is Logged In -->
      <li
        *ngIf="checkAuth"
        class="cursor-pointer outline-none bg-red-500 p-2 rounded-md"
      >
        <a (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</section>

<!-- Cart Component -->
<app-cart *ngIf="isCartOpen" (close)="toggleCart()"></app-cart>
