<section class="flex flex-col border-none shadow-md mx-56 my-5 p-5">
  <h1 class="font-mono text-center text-2xl mb-4">Enter Your Details</h1>
  <form [formGroup]="contactForm" (ngSubmit)="onHandleClick($event)" (keydown.enter)="$event.preventDefault()" class="font-serif">
    <div class="flex flex-col mb-4 gap-y-1">
      <label for="name">Name</label>
      <input
        class="border-2 border-double border-gray-600 px-2"
        type="text"
        id="name"
        formControlName="name"
        placeholder="John Doe"
      />
      <div *ngIf="contactForm.get('name')?.invalid && (contactForm.get('name')?.dirty || contactForm.get('name')?.touched)">
        <small class="text-red-500">Name is required.</small>
      </div>
    </div>
    <div class="flex flex-col mb-4 gap-y-1">
      <label for="email">Email</label>
      <input
        class="border-2 border-double border-gray-600 px-2"
        type="email"
        id="email"
        formControlName="email"
        placeholder="johndoe@gmail.com"
      />
      <div *ngIf="contactForm.get('email')?.invalid && (contactForm.get('email')?.dirty || contactForm.get('email')?.touched)">
        <small class="text-red-500">Enter a valid email address.</small>
      </div>
    </div>
    <div class="flex flex-col mb-4 gap-y-1">
      <label for="phoneNo">Phone Number</label>
      <input
        class="border-2 border-double border-gray-600 px-2"
        type="text"
        id="phoneNo"
        formControlName="phoneNo"
        placeholder="+Country code 1234567890"
      />
      <div *ngIf="contactForm.get('phoneNo')?.invalid && (contactForm.get('phoneNo')?.dirty || contactForm.get('phoneNo')?.touched)">
        <small class="text-red-500">Enter a valid phone number. (e.g., +1234567890)</small>
      </div>
    </div>
    <div class="flex flex-col mb-4 gap-y-1">
      <label for="address">Address</label>
      <input
        class="border-2 border-double border-gray-600 px-2"
        type="text"
        id="address"
        formControlName="address"
        placeholder="10 Downing Lane, London"
      />
      <div *ngIf="contactForm.get('address')?.invalid && (contactForm.get('address')?.dirty || contactForm.get('address')?.touched)">
        <small class="text-red-500">Address is required.</small>
      </div>
    </div>
    <button
      type="submit"
      class="border bg-blue-500 hover:bg-blue-700 text-white p-2 rounded-md"
    >
      Submit
    </button>
    <button
      type="button"
      (click)="onClick()"
      class="border bg-red-500 hover:bg-red-600 text-white p-2 rounded-md"
    >
      Cancel
    </button>
  </form>
</section>
