<div *ngIf="isLoading">Loading...</div>
<div *ngIf="!isLoading && data">
  <div class="bg-white">
    <div
      class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8"
    >
      <div
        class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8"
      >
        <ng-container *ngFor="let item of data.products">
          <ng-container *ngIf="item.images && item.images.length > 0">
            <div class="group relative">
              <div
                class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80"
              >
                <img
                  [src]="item.images[0]"
                  alt="Product image"
                  class="h-full w-full object-cover object-center lg:h-full lg:w-full"
                />
              </div>
              <div class="mt-4 flex justify-between">
                <div>
                  <h3 class="text-sm text-gray-700 font-mono">
                    {{ item.title | uppercase }}
                  </h3>
                  <p class="mt-1 text-sm text-gray-500">
                    {{ item.description | truncate : 50 : true }}
                  </p>
                  <p class="text-sm text-black-500 font-semibold mt-1">
                    ⭐ {{ item.rating || "No rating available" }}
                  </p>
                </div>
                <p class="text-sm font-medium text-gray-900">
                  ${{ item.price | number : "1.1-2" }}
                </p>
              </div>
              <button
                (click)="addToCart(item)"
                class="mt-4 bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded"
              >
                Add to Cart
              </button>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
