<section class="m-6">
  <h2 class="text-center text-2xl font-serif mb-6">
    Discover Your Perfect Gadget
  </h2>

  <div class="flex justify-evenly my-5 rounded-2xl p-2 bg-gray-50">
    <img
      class="w-72 h-72 object-cover rounded-lg"
      src="https://cdn.pixabay.com/photo/2014/08/05/10/27/iphone-410311_1280.jpg"
      alt="Sneaker"
    />
    <div class="flex flex-col w-80">
      <h3 class="text-2xl font-serif mb-3">Smartphones for Every Lifestyle</h3>
      <p class="font-mono mb-2">Innovative.<br />Reliable.<br />Stylish.</p>
      <p>
        Upgrade your digital experience with our latest collection of
        smartphones. Featuring cutting-edge technology, stunning displays, and
        powerful performance, these devices are designed to keep you connected
        and productive. Whether you're a gamer, a creator, or a multitasker, we
        have the perfect phone for you.
      </p>
    </div>
  </div>

  <div class="flex justify-evenly my-5 rounded-2xl p-2 bg-gray-50">
    <div class="flex flex-col w-80">
      <h3 class="text-2xl font-serif mb-3">For the Tech Enthusiast</h3>
      <p class="font-mono mb-2">Smartphones.<br />Tablets<br />Laptops.</p>
      <p>
        Discover a range of smartphones that combine sleek designs with powerful
        features. From high-resolution cameras to long-lasting batteries, our
        collection offers the best in modern mobile technology. Choose the
        perfect device to match your lifestyle and stay ahead in the digital
        world.
      </p>
    </div>
    <img
      class="w-72 h-72 object-cover rounded-lg"
      src="https://cdn.pixabay.com/photo/2014/04/05/09/30/tablet-314153_1280.png"
      alt="Sneaker Image"
    />
  </div>

  <div class="flex justify-evenly my-5 rounded-2xl p-2 bg-gray-50">
    <img
      class="w-72 h-72 object-cover rounded-lg"
      src="https://i.pinimg.com/originals/29/e4/e0/29e4e025dc5d8b514ba8e5003047861c.png"
      alt="Exclusive Deals"
    />
    <div class="flex flex-col w-80">
      <h3 class="text-2xl font-serif mb-3">Exclusive Deals & Offers</h3>
      <p class="font-mono mb-2">
        Discounts.<br />Special Offers.<br />Limited Editions.
      </p>
      <p>
        Don’t miss out on our exclusive deals and offers! From significant
        discounts to special offers and limited-edition items, we have something
        special just for you. Explore our promotions and find unbeatable prices
        on your favorite products. Stay ahead of the trends with our exclusive
        collections!
      </p>
    </div>
  </div>
</section>
