 <section class="m-6">
    <h2 class="text-center text-2xl font-serif mb-6">Discover Your Perfect Style</h2>
  

    <div class="flex justify-evenly my-5 rounded-2xl p-2 bg-gray-50 ">
      <img class="w-72 h-72 object-cover rounded-lg" src="https://dashboard-staging.payu.in/assets/landingPages/images/p1.jpg" alt="Sneaker">
      <div class="flex flex-col w-80">
        <h3 class="text-2xl font-serif mb-3">For the New Generation</h3>
        <p class="font-mono mb-2">Trendy.<br>Fashionable.<br>Stylish.</p>
        <p>Discover the latest in fashion trends that cater to the new generation's style. Our collection brings you the most fashionable and trend-setting pieces designed to make you stand out. Whether you're looking for casual wear or something more chic, we have something for every occasion.</p>
      </div>
    </div>
    
    
    <div class="flex justify-evenly my-5 rounded-2xl p-2 bg-gray-50 ">
      <div class="flex flex-col w-80">
        <h3 class="text-2xl font-serif mb-3">For the Trendy You</h3>
        <p class="font-mono mb-2">Shirts.<br>T-shirts.<br>Sunglasses.</p>
        <p>Elevate your wardrobe with our trendy collection of shirts, T-shirts, and sunglasses. Perfectly crafted for those who want to keep up with the latest trends while maintaining comfort. Our selection combines style and practicality, ensuring you look great from day to night.</p>
      </div>
      <img class="w-72 h-72 object-cover rounded-lg" src="https://www.appnova.com/-/media/fashion-Ecommerce.ashx?h=890&la=en&w=1280&hash=A3757E56598B15FF80C5B26F99780528C6CC264D" alt="Sneaker Image">
    </div>
  

    <div class="flex justify-evenly my-5 rounded-2xl p-2 bg-gray-50 ">
        <img class="w-72 h-72 object-cover rounded-lg" src="https://i.pinimg.com/originals/29/e4/e0/29e4e025dc5d8b514ba8e5003047861c.png" alt="Exclusive Deals">
      <div class="flex flex-col w-80">
        <h3 class="text-2xl font-serif mb-3">Exclusive Deals & Offers</h3>
        <p class="font-mono mb-2">Discounts.<br>Special Offers.<br>Limited Editions.</p>
        <p>Don’t miss out on our exclusive deals and offers! From significant discounts to special offers and limited-edition items, we have something special just for you. Explore our promotions and find unbeatable prices on your favorite products. Stay ahead of the trends with our exclusive collections!</p>
      </div>
    </div>
  </section>
   

  